$clr-base-btn: #1875f0;
$clr-base-border: #303030;

$clr-incoming-request: #3aa4d2;
$clr-initial-contact: $clr-base-btn;
$clr-negotiations: #5553ce;
$clr-contract: #9013fe;
$clr-offer-made: #f18f1c;
$clr-won-lead: #50d166;

$clr-md-gray-text: #808080;
$clr-light-text: #f2f2f2;
$clr-md-gray-bg: $clr-base-border;

$theme-font-family: 'Roboto', sans-serif;
